@font-face {
<<<<<<< HEAD
  font-family: Inter;
  src:
    url(./interregular.woff2) format('woff2'),
    url(./interregular.woff) format('woff'),
    url(./interregular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src:
    url(./interbold.woff2) format('woff2'),
    url(./interbold.woff) format('woff'),
    url(./interbold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
=======
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.woff2') format('woff2'),
         url('fonts/Raleway-Bold.woff') format('woff'),
         url('fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.woff2') format('woff2'),
         url('fonts/Raleway-Regular.woff') format('woff'),
         url('fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
>>>>>>> d18a3eb0b78ae89236ccd6968dbc7e20acc6a1a3
}